<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunfei.project.mapper.InterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.yunfei.yunfeiapicommon.model.entity.InterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="requestParams" column="requestParams" jdbcType="VARCHAR"/>
            <result property="responseParams" column="responseParams" jdbcType="VARCHAR"/>
            <result property="requestHeader" column="requestHeader" jdbcType="VARCHAR"/>
            <result property="responseHeader" column="responseHeader" jdbcType="VARCHAR"/>
            <result property="returnFormat" column="returnFormat" jdbcType="VARCHAR"/>
            <result property="totalInvokes" column="totalInvokes" jdbcType="BIGINT"/>
            <result property="consumeCoins" column="consumeCoins" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="requestExample" column="requestExample" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        url,method,requestParams,
        responseParams,requestHeader,responseHeader,
        returnFormat,totalInvokes,consumeCoins,
        status,requestExample,userId,
        createTime,updateTime,isDelete
    </sql>
    <select id="listTopInvokeInterfaceInfo" resultType="com.yunfei.yunfeiapicommon.model.entity.InterfaceInfo">
        select
        <include refid="Base_Column_List"/>
        from interface_info
        where status = 1
        order by totalInvokes desc
        limit 0, #{topNum}
    </select>
</mapper>
